<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content=" Expense admin ,template, web app">
    <meta name="author" content="pixelstrap">
    <!--<link rel="icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">-->
    <title>Expense Management</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    {{useStyle}}
</head>

<body style="margin: 30px auto;">
    <table style="width: 100%">
        <tbody>
            <tr>
                <td>
                    <table style="background-color: #f6f7fb; width: 100%">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="width: 450px; margin: 0 auto; margin-bottom: 30px">
                                        <tbody>
                                            <tr>
                                                <td><img src="../assets/images/endless-logo.png" alt=""></td>
                                                <td style="text-align: right; color:#999"><span>Expense Management</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 450px; margin: 0 auto; background-color: #fff; border-radius: 8px">
                        <tbody>
                            <tr>
                                <td style="padding: 30px">
                                    <h6 style="font-weight: 600">Xác nhận địa chỉ email của bạn </h6>
                                    <p>
                                        Bạn còn cần hoàn thành một bước nhỏ nữa để xác nhận địa chỉ email của bạn.
                                    </p>
                                    <p>
                                        Vui lòng nhập mã xác nhận này trên Expense Management khi được nhắc.
                                    </p>
                                    <p align="left" dir="ltr"
                                       style="padding:0px;margin:0px auto;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:32px;padding:0px;margin:0px;font-weight:bold;line-height:36px;"
                                       class="yiv5540220507h1 yiv5540220507black"> {0} </p>
                                    <br>
                                    <p>Mã xác nhận hết hạn sau {1}.</p>
                                    <p style="margin-bottom: 0"> Xin cảm ơn,<br>Expense Management</p>
                                </td>
                            <tr>
                                <td height="80" style="padding:0px;margin:0px auto;font-size:0px;line-height:1px;padding:0px;"
                                    class="yiv4030747763empty">
                                    &nbsp;
                                </td>
                            </tr>
            </tr>
        </tbody>
        <tfoot style="padding-top: 20px;">
            <tr>
                <td align="center" dir="ltr"
                    style="padding:0px;margin:0px auto;color:#657786;font-family:'Helvetica Neue Light', Helvetica, Arial, sans-serif;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:16px;font-weight:bold;text-align:center;margin:auto;"
                    class="yiv9213557197footer yiv9213557197strong yiv9213557197deep_grey yiv9213557197center">
                    <a rel="nofollow noopener noreferrer" target="_blank"
                       href="https://twitter.com/i/redirect?url=https%3A%2F%2Fsupport.twitter.com%2F&amp;t=1&amp;cn=ZXhpc3RpbmdfdXNlcl92ZXJpZnlfZW1haWw%3D&amp;sig=e5231210821dc581689f0ed68e7193300317fe45&amp;iid=172f59ee199d4e2387f337c01751cdcc&amp;uid=1044315199879229441&amp;nid=296+3"
                       style="text-decoration:none;border-style:none;border:0px;padding:0px;margin:0px;color:#1DA1F2;text-decoration:none;color:#8899a6;"
                       class="yiv9213557197footer_grey"> Trợ giúp </a> &nbsp;|&nbsp; <a rel="nofollow noopener noreferrer"
                                                                                        target="_blank"
                                                                                        href="https://twitter.com/i/redirect?url=https%3A%2F%2Fsupport.twitter.com%2Farticles%2F204820-fake-twitter-emails&amp;t=1&amp;cn=ZXhpc3RpbmdfdXNlcl92ZXJpZnlfZW1haWw%3D&amp;sig=12ab46301a7e9e192871506486dbc7487a01a458&amp;iid=172f59ee199d4e2387f337c01751cdcc&amp;uid=1044315199879229441&amp;nid=296+4"
                                                                                        style="text-decoration:none;border-style:none;border:0px;padding:0px;margin:0px;white-space:nowrap;color:#1DA1F2;text-decoration:none;color:#8899a6;"
                                                                                        class="yiv9213557197footer_grey yiv9213557197nowrap"> Mẹo bảo mật email </a>
                </td>
            </tr>
            <tr>
                <td align="center"
                    style="padding:0px;margin:0px auto;font-family:'Helvetica Neue Light', Helvetica, Arial, sans-serif;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:16px;text-align:center;margin:auto;color:#8899a6;"
                    class="yiv9213557197footer yiv9213557197footer_grey yiv9213557197center">
                    <span class="yiv9213557197addressLink">Expense, Inc 43/99 Trung Kinh, Ha Noi capital, Vietnam</span>
                </td>
            </tr>
            <tr>
                <td height="50" style="padding:0px;margin:0px auto;font-size:0px;line-height:1px;padding:0px;"
                    class="yiv3190786281empty">
                    &nbsp;
                </td>
            </tr>
        </tfoot>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
</body>

</html>